::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-tertiary-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-secondary-color);
}

::-webkit-scrollbar-track {
  background: var(--bs-dark-bg-subtle);
  border-radius: 6px;
}

#infocards {
  margin-top: 10px;
  margin-bottom: 10px;
}

#faqcard {
  margin-top: 30px;
  margin-bottom: 10px;
}

i {
  vertical-align: middle;
}

.navbar {
  padding-bottom: 5px;
  padding-top: 5px;
}

a {
  text-decoration: none !important;
}

body {
  margin-bottom: 200px;
}
